<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				MOOCs as an alternative for teacher professional development: examining learner persistence in one Chinese MOOC.
			</span><br />
			<span class="authors">
				Qiong Wang, Bodong Chen, Yizhou Fan, and Guogang Zhang.
			</span><br />
			<span class="venuetype">Technical Report </span><span class="venue">2016-0002, DL4D</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Making a Difference: Analytics for Quality Knowledge-Building Conversations.
			</span><br />
			<span class="authors">
				Frank Jong, Joan Ende, Hennie Heijst, Yoshiaki Matsuzawa, Paul Kirschner, Jianwei Zhang, Mei-Hwa Chen, Feng Chen, Carolyn Rose, Erick Velazquez Godinez, Sylvie Ratte, Bodong Chen, Carol Chan, Jan Aalst, Christine Yang, Jun Oshima, Cindy Hmelo-Silver, and Alyssa Wise.
			</span><br />
			<span class="venuetype"></span><span class="venue">Making a Difference: Prioritizing Equity and Access in {CSCL}, 12th International Conference on Computer Supported Collaborative Learning ({CSCL}) 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Fostering online discussions through social learning analytics.
			</span><br />
			<span class="authors">
				B Chen, Y-H Chang, F Ouyang, and W Zhou.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 AERA Annual Meeting</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Fostering scientific understanding and epistemic beliefs through judgments of promisingness.
			</span><br />
			<span class="authors">
				Bodong Chen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Educational technology research and development 65(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Examining motivations and self-regulated learning strategies of returning MOOCs learners.
			</span><br />
			<span class="authors">
				Bodong Chen, Yizhou Fan, Guogang Zhang, and Qiong Wang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Seventh International Learning Analytics & Knowledge Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Two tales of time: uncovering the significance of sequential patterns among contribution types in knowledge-building discourse.
			</span><br />
			<span class="authors">
				Bodong Chen, Monica Resendes, Ching Sing Chai, and Huang-Yao Hong.
			</span><br />
			<span class="venuetype"></span><span class="venue">Interactive Learning Environments 25(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Toward a multi-level knowledge building innovation network.
			</span><br />
			<span class="authors">
				Marlene Scardamalia, Carl Bereiter, Therese Laferriere, Katerine Bielaczyc, Shaoming Chai, Carol K K Chan, Bodong Chen, Mei-Hwa Chen, Frank Jong, Fernando Diaz Castillo, Kai Hakkarainen, Yoshiaki Matsuzawa, Alexander McAuley, Mireia Montan{\'e}, Cesar Nunes, Richard Reeve, Pirita Seitamaa-Hakkarainen, Jun Oshima, Hajime Shirouzu, Seng Chee Tan, Chew Lee Teo, Jan Aalst, Telma Vinha, and Jianwei Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Making a Difference: Prioritizing Equity and Access in {CSCL}, 12th International Conference on Computer Supported Collaborative Learning ({CSCL}) 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Exploring the development of college students' epistemic views during their knowledge building activities.
			</span><br />
			<span class="authors">
				Huang-Yao Hong, Bodong Chen, and Ching Sing Chai.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computers \& education</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Analytics for knowledge creation: Towards epistemic agency and design-mode thinking.
			</span><br />
			<span class="authors">
				Bodong Chen and Jianwei Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Learning Analytics 3(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Schools as knowledge-building organizations: Thirty years of design research.
			</span><br />
			<span class="authors">
				Bodong Chen and Huang-Yao Hong.
			</span><br />
			<span class="venuetype"></span><span class="venue">Educational psychologist 51(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Putting temporal analytics into practice.
			</span><br />
			<span class="authors">
				Bodong Chen, Alyssa F Wise, Simon Knight, and Britte Haugan Cheng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Sixth International Conference on Learning Analytics \& Knowledge - {LAK} '16</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Community knowledge, collective responsibility: The emergence of rotating leadership in three knowledge building communities.
			</span><br />
			<span class="authors">
				Leanne Ma, Yoshiaki Matsuzawa, Bodong Chen, and Marlene Scardamalia.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transforming Learning, Empowering Learners: The International Conference of the Learning Sciences ICLS 2016, Volume 1</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Twitter Archeology of Learning Analytics and Knowledge Conferences.
			</span><br />
			<span class="authors">
				Bodong Chen, Xin Chen, and Wanli Xing.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Fifth International Conference on Learning Analytics And Knowledge (LAK '15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				How Do MOOC Learners' Intentions Relate to Their Behaviors and Overall Outcome?.
			</span><br />
			<span class="authors">
				Bodong Chen, Stian Haklev, Laurie Harrison, Hedieh Najafi, and Carol N Rolheiser.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 AERA Annual Meeting</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
